@if (control()!.invalid && (control()!.dirty || control()!.touched)) {
  @if (control()!.errors!['required']) {
    <small id="float-input" class="p-error block">El campo {{name()}} es requerido.</small>
  }
  @if(control()!.errors!['minlength']) {
    <small id="float-input" class="p-error block">El campo {{name()}} necesita al menos {{control()!.errors!['minlength'].requiredLength}} caracteres.</small>
  }
  @if(control()!.errors!['maxlength']) {
    <small id="float-input" class="p-error block">El campo {{name()}} no de contener más de {{control()!.errors!['maxlength'].requiredLength}} caracteres. (Tienes {{control()!.errors!['maxlength'].actualLength}})</small>
  }
  @if(control()!.errors!['email']) {
    <small id="float-input" class="p-error block">El campo {{name()}} no es un correo válido.</small>
  }
  @if(control()!.errors!['min']) {
    <small id="float-input" class="p-error block">El campo {{name()}} es menor a {{control()!.errors!['min'].min}}.</small>
  }
  @if(control()!.errors!['max']) {
    <small id="float-input" class="p-error block">El campo {{name()}} es mayor a {{control()!.errors!['max'].max}}.</small>
  }
  @if(control()!.errors!['pattern']) {
    <small id="float-input" class="p-error block">El campo {{name()}} tiene un formato incorrecto.</small>
  }
}
